.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blog-header-left {
  text-align: left;
}

.blog-header-left h5 {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 10px;
  gap: 10px;
}

.line-inline {
  width: 25px;
  height: 2px;
  object-fit: contain;
}

.blog-header-left h2 {
  font-size: 2.2rem;
  margin: 0;
}

.blog-header-left .highlight {
  color: #229dd6;
}

.blog-header-right {
  max-width: 500px;
  text-align: left;
  align-self: center;
}

.blog-header-right p {
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Roboto Flex";
}

.blog-section {
  text-align: center;

}

.blog-header h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.blog-header .highlight {
  color: #229dd6;
}

.blog-header p {
  max-width: 600px;
  margin: 0 auto 40px;
  color: #555;
}

.blog-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.blog-card2 {
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 10px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(0, 0, 0, 0.15);
  /* outline: 1px solid rgba(0, 0, 0, 0.15);
   outline-offset: 10px; */
}

.blog-slider .slick-list {
  margin: 0 -15px;
}

.blog-slider .slick-slide>div {
  padding: 0 5px;
}

.blog-card2:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); */
}

.blog-card2 img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
}

.blog-content2 {
  padding: 1.2rem 5px 0;
  text-align: left;
}

.blog-content2 .meta {
  font-size: 0.9rem;
  color: #000000;
  display: block;
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  min-height: auto;
}

.blog-content2 strong {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
}

.blog-content2 p {
  color: #292929;
  font-size: 16px;
  padding-left: 32px;
  /* line-height: 1.5; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-weight: 500;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Roboto Flex';
}

.slick-dots li button:before {
  color: #229dd6 !important;
}

.line2-img {
  width: 29px;
  height: auto;
}

.blog-slider {
  position: relative;
}

.blog-slider .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.blog-slider .slick-dots li {
  margin: 0 4px;
}

.blog-slider .slick-dots li button:before {
  color: #229dd6 !important;
}

/*  MEDIA QUERIES  */

@media (max-width: 1300px) and (min-width: 1000px) {
  .blog-header {
    gap: 20px;
    align-items: center;
  }

  .blog-header-left {
    flex: 1;
  }

  .blog-header-right {
    flex: 1;
    text-align: right;
    align-self: center;
  }

  .blog-header-right p {
    max-width: 420px;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  .blog-header-left h5 {
    font-size: 0.85rem;
  }

  .blog-header-left h2 {
    font-size: 29px;
  }

  .blog-slider {
    width: 100%;
    /* padding: 0 80px; */
  }

  .blog-card2 img {
    height: 200px;
  }
}

/*  800px – 600px (Tablets) */
@media (max-width: 1000px) and (min-width: 600px) {
  .section-padding {
    padding: 40px 40px;
  }

  .blog-header {
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .blog-header-left h5 {
    margin-left: 0;
    font-size: 0.8rem;
  }

  .blog-header-left h2 {
    margin-left: 0;
    font-size: 39px;
  }

  .blog-header-right {
    max-width: 100%;
    margin-top: 15px;
  }

  .blog-header-right p {
    font-size: 0.95rem;
  }

  .blog-slider {
    width: 100%;
  }

  .blog-card2 img {
    height: 180px;
  }
}

/*  600px – 300px (Mobile) */
@media (max-width: 600px) and (min-width: 300px) {
  .blog-header {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .blog-header-left h5 {
    font-size: 0.75rem;
    margin-top: 34px;
  }

  .blog-header-left h2 {
    font-size: 1.5rem;

  }

  .blog-header-right p {
    font-size: 0.85rem;
    text-align: center !important;
  }

  .blog-header-left {
    width: 100%;
  }

  .blog-slider {
    width: 100%;
    padding: 0 15px;
  }

  .blog-card2 img {
    height: 160px;
  }

  .blog-content2 p {
    font-size: 0.9rem;
  }

  .blog-section {
    padding: 9px 0;
  }

  .slick-dots {
    bottom: revert;
  }
}