.frameworks-section {
  width: 100%;
  padding: 80px 0;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* Header */
.frameworks-header h2 {
  font-size: 32px;
  font-weight: 600;
  color: #002147;
  margin-bottom: 15px;
}

.frameworks-header p {
  font-size: 15px;
  color: #292929;
  line-height: 1.5;
  margin-bottom: 60px;
}

/* Wrapper */
.frameworks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
}

/* Card */
.frameworks-card {
  background-color: #F9FAFB;
  border-radius: 20px;
  width: 140px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.frameworks-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* Icon circle */
/* .frameworks-icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.frameworks-icon img {
  width: 50px;
  height: 50px;
  
}

/* Title */
.frameworks-card h4 {
  font-size: 13px;
  font-weight: 600;
  color: #001e3c;
}

/* Responsiveness */
@media (max-width: 768px) {
  .frameworks-card {
    width: 140px;
    height: 140px;
  }

  .frameworks-icon {
    width: 55px;
    height: 55px;
  }

  .frameworks-card h4 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .frameworks-wrapper {
    gap: 25px;
  }

  .frameworks-card {
    width: 130px;
    height: 130px;
  }
}
