/* SECTION */
.portfolio-tech-section {
  width: 100%;
  background-color: #f9fafc;
  padding: 45px 0;
  font-family: "Poppins", sans-serif;
}

/* HEADER */
.linetech-img {
  display: block;
  margin: 0px 0 -11px 578px;
}

.portfolio-tech-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
}

.portfolio-tech-title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  color: rgba(0, 32, 70, 1);
}

/* WRAPPER */
.portfolio-tech-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  width: 1397px;
  margin: 29px auto;
}

/* CARD */
.portfolio-tech-card {
  flex: 1;
  min-width: 500px;
  background: rgba(229, 231, 235, 0.4);
  border-radius: 20px;
  padding: 50px 40px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.portfolio-tech-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.portfolio-tech-card h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.3rem;
  color: rgba(0, 32, 70, 1);
}

/* GRID */
.portfolio-tech-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 10px;
  align-items: center;
  justify-items: center;
}

/* ITEM */
.portfolio-tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-right: 20px;
}

/* Pseudo-element divider (instead of <div class="divider">) */
.portfolio-tech-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 50px;
  background: #e0e0e0;
}

/* HOVER EFFECT */
.portfolio-tech-item:hover {
  transform: translateY(-5px);
}

/* RESPONSIVE */
/* 1200px */
@media (max-width: 1200px) {
  .portfolio-tech-wrapper {
    width: 100%;
    gap: 25px;
  }
  .portfolio-tech-card {
    width: 48%;
    min-width: auto;
  }
  .portfolio-tech-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .linetech-img {
    margin: 0px 0px -11px 210px;
  }
}

/* 700px */
@media (max-width: 700px) {
  .portfolio-tech-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .portfolio-tech-card {
    width: 100%;
    padding: 35px 25px;
  }
  .portfolio-tech-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 600px */
@media (max-width: 600px) {
  .portfolio-tech-title {
    font-size: 1.7rem;
  }
  .portfolio-tech-card {
    padding: 30px 20px;
  }
  .portfolio-tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .linetech-img {
    margin: 0 auto -10px 10px;
    width: 24px;
  }
  .portfolio-do {
    flex-direction: column;
  }
}
