/* PORTFOLIO BANNER  */
.portfolio-banner {
  position: relative;
  width: 92%;
  margin: 80px auto;
  height: 52vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);*/
}

/* CONTENT */
.portfolio-banner-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 2.5rem;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

/* ===== HEADING ===== */
.portfolio-banner-content h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 35px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 3px;
}

.portfolio-banner-content h1 span {
  color: #229dd6;
}

.portfolio-banner-content p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.7;
  max-width: 750px;
  margin: 0 auto 1rem auto;
  font-weight: 300;
}

/* BUTTON  */
.portfolio-banner-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 0.7rem 1.2rem;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.portfolio-banner-btn:hover {
  background: #0078c4;
  color: #fff;
  border-color: #0078c4;
  transform: scale(1.05);
}

.btn-arrow {
  width: 16px;
  transition: transform 0.3s ease;
}

.portfolio-banner-btn:hover .btn-arrow {
  transform: translateX(6px);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .portfolio-banner {
    width: 94%;
    margin: 60px auto;
    min-height: 50vh;
  }
  .portfolio-banner-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .portfolio-banner {
    width: 96%;
    border-radius: 12px;
    margin: 40px auto;
  }
  .portfolio-banner-content {
    padding: 1.5rem;
  }
  .portfolio-banner-content h1 {
    font-size: 1.6rem;
  }
  .portfolio-banner-btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem;
  }
  .portfolio-banner-content p {
    margin: 15px auto 1rem auto;
  }
  .portfolio-banner-content h1 {
    font-size: 20px;
    margin-top: -27px;
  }
}
