.portfolio-tech-section {
  width: 100%;
  background-color: #f9fafc; /* Light section background */
  padding: 45px 0;
  font-family: "Poppins", sans-serif;
}

.portfolio-tech-header {
  text-align: center;
  margin-bottom: 60px;
}

.linetech-img {
  display: block;
  margin: 0px 0 -11px 578px;
}

.portfolio-tech-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
}

.portfolio-tech-title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  color: rgba(0, 32, 70, 1);
}

/* WRAPPER */
.portfolio-tech-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  width: 90%;
  width: 1397px;
  margin: 29px auto;
}

/* CARD */
.portfolio-tech-card {
  flex: 1;
  min-width: 500px;
  background: rgba(229, 231, 235, 0.4);
  border-radius: 20px;
  padding: 50px 40px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-tech-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.portfolio-tech-card h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(0, 32, 70, 1);
  margin-bottom: 40px;
  text-align: center;
}

/* GRID */
.portfolio-tech-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px 10px;
  align-items: center;
  justify-items: center;
}

.portfolio-tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}
.portfolio-tech__divider {
  width: 1px;
  height: 50px;
  background-color: #e0e0e0;
  margin: 0 15px;
}

.portfolio-tech-item:hover {
  transform: translateY(-5px);
}

.portfolio-tech-item p {
  font-size: 0.95rem;
  color: #1d1d1d;
  margin: 0;
}

/* ICON COLORS */
.portfolio-tech-icon {
  font-size: 2.6rem;
}

/* .react { color: #61dafb; }
.node { color: #5faa45; }
.python { color: #f4c542; }
.aws { color: #f4992d; }
.mongo { color: #a855f7; }
.blockchain { color: #0066ff; }

.health { color: #ff4f5a; }
.edu { color: #3266cc; }
.fintech { color: #22c55e; }
.retail { color: #a855f7; }
.logistics { color: #ff8a00; }
.smart { color: #374151; } */

/* RESPONSIVE */
@media (max-width: 1024px) {
  .portfolio-tech-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-tech-card {
    width: 100%;
    max-width: 600px;
  }

  .portfolio-tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .portfolio-tech-title {
    font-size: 1.8rem;
  }

  .portfolio-tech-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .portfolio-tech-card {
    padding: 40px 25px;
  }
}
