@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto+Flex:wght@400;500;600&family=Jost:wght@400;500;600;700&display=swap');
:root {
  --font-archivo: "Archivo", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto Flex", sans-serif;
  --font-jost: "Jost", sans-serif;
}

